.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(46, 40, 40);
    padding: 0 10px;
}
