.collage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/bg.png");
  background-size: contain;
  height: 60vh;
  width: 100%;
  color: white;
}

.team-img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-size: 1.5rem;
  font-weight: 900;
}

.role {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-size: 0.875rem;
  color: gray;
}

.para {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 200;
  font-family: "Droid Serif", serif;
  margin: 30px;
}

@media (max-width: 750px) {
  .row {
    justify-content: center;
  }
  .d-flex {
    flex-direction: column !important;
    align-items: center;
  }
  .para {
    margin: 20px;
  }
}
